.message
  .message__header
    .message__header-group
      .message__header-group-name
        = @group.name
      .message__header-group-lenght
        5人参加中
    .message__header-left
      .message__header-left-back
        = link_to root_path,class:"toppage-btn" do
          トップページ
      .message__header-left-username
        = current_user.name
  .message__contents
    .messages
      - @messages.each do |message|
        .contents__message{data:{message:{id:message.id}}}
          .contents__message-message
            = message.content
          .contents__message-contents
            .contents__message-contents-good
              - if current_user.already_liked?(message)
                = button_to 'Goodを取り消す',group_message_like_path(@group.id,message.id,@likes.ids),method: :delete
              - else 
                = button_to 'Good',group_message_likes_path( @group.id,message.id)
            .contents__message-contents-name
              = message.user.name
            .contents__message-contents-goodcount
              いいね数:
              = message.likes.count
              
  .form
    .form-box
      =form_for [@group,@message] do |f|
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.submit 'Send',class: 'submit-btn disabled'

    

    
