.group
  .group__header
    .group__header-left
      = link_to root_path,class:"toppage-btn"  do
        Enjoy-app
    .group__header-right
      = link_to edit_user_path(current_user),class:"name-edit" do
        = current_user.name
  .group__name
    .group__name-list
      グループ一覧
      = link_to new_category_path,class:"group__name-list-new" do
        ジャンル作成
      = link_to new_group_path,class:"group__name-list-new" do
        グループ作成
    .group__name-name
      - @group.each do |group|
        = link_to group_messages_path(group),class:"group-btn" do
          = group.name
    = will_paginate @group, :previous_label => ' &lt 前へ', :next_label => '次へ &gt'
  .group__seach
    .group__seach-name
      グループ検索
    .group__seach-seach
      = search_form_for @q, url: category_groups_path(@category) do |f|
        = f.search_field :name_cont, class: 'group__seach-box'
        = f.submit
    .group__seach-list
      .group__seach-list
      - if @check.present?
        - @groups.each do |group|
          = link_to group_messages_path(group),class:"group__seach-list-btn" do
            = group.name
      - else